name: Deploy Streamlit

on:
  push:
    branches: [main]
    paths:
      - "app/ui/**"
      - "docker/streamlit/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Streamlit image
        run: |
          docker build -t rag-streamlit -f docker/streamlit/Dockerfile .
          docker tag rag-streamlit:latest 214777058381.dkr.ecr.us-east-1.amazonaws.com/rag-streamlit:latest
          docker push 214777058381.dkr.ecr.us-east-1.amazonaws.com/rag-streamlit:latest

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          timeout: 120s
          command_timeout: 15m
          script: |
            bash /home/ubuntu/restart_streamlit.sh
