name: Deploy FastAPI

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          region: us-east-1

      - name: Build and push FastAPI image
        run: |
          docker build -t rag-fastapi -f docker/fastapi/Dockerfile .
          docker tag rag-fastapi:latest 214777058381.dkr.ecr.us-east-1.amazonaws.com/rag-fastapi:latest
          docker push 214777058381.dkr.ecr.us-east-1.amazonaws.com/rag-fastapi:latest

      - name: Deploy FastAPI on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY,AWS_REGION
          timeout: 120s
          command_timeout: 15m
          script: |
            whoami
            uname -a
            bash /home/ubuntu/restart_container.sh
        env:
          AWS_REGION: us-east-1
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
